Aim Tag.json
[{"id":"432a6f4d.9a1f9","type":"tab","label":"Countdown","disabled":false,"info":""},{"id":"a7f1840.ae02a8","type":"tab","label":"Laser Tag","disabled":false,"info":""},{"id":"d91d3e28.7c7db","type":"ui_tab","name":"Test Name","icon":"dashboard","disabled":false,"hidden":false},{"id":"ddbb974.7c27068","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d8d421a5.a92a7","type":"ui_group","name":"Team 1","tab":"3a57a146.078d7e","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"43b06e10.ffbbf","type":"serial-port","serialport":"COM4","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"a896c1dd.7889e","type":"firebaseCertificate","firebaseurl":"laser-tag-6930f-default-rtdb.asia-southeast1.","loginType":"email"},{"id":"899aa1bc.49459","type":"ui_group","name":"Team 2","tab":"3a57a146.078d7e","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3a57a146.078d7e","type":"ui_tab","name":"Scoreboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"40e5b9b5.ddbae8","type":"firebase config","firebaseurl":"laser-9e43c-default-rtdb","loginType":"none"},{"id":"e4493207.31559","type":"ui_group","name":"Team 3","tab":"3a57a146.078d7e","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7fe5adbc.77e754","type":"ui_tab","name":"Timer","icon":"dashboard","disabled":false,"hidden":false},{"id":"8dacb798.c1edd8","type":"ui_group","name":"Team df","tab":"3a57a146.078d7e","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"676bd8bb.14eac8","type":"ui_group","name":"Team 4","tab":"3a57a146.078d7e","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f1c6aa36.a6ab58","type":"serial-port","serialport":"COM4","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"ce68f4b6.e33cb8","type":"serial in","z":"a7f1840.ae02a8","name":"Receiver","serial":"f1c6aa36.a6ab58","x":60,"y":260,"wires":[["5d3eb1d2.5eb27"]]},{"id":"c37b953a.94c728","type":"function","z":"432a6f4d.9a1f9","name":"","func":"for(let i=30;i>=0;i--){\n    node.send({payload:i});\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":200,"wires":[["c92c3a26.fac518"]]},{"id":"c92c3a26.fac518","type":"delay","z":"432a6f4d.9a1f9","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":200,"wires":[["20a28fcb.930db","66b290ad.bbef1"]]},{"id":"20a28fcb.930db","type":"ui_gauge","z":"432a6f4d.9a1f9","name":"","group":"899aa1bc.49459","order":2,"width":0,"height":0,"gtype":"donut","title":"Timer","label":" s","format":"{{value}}","min":0,"max":"30","colors":["#ff000d","#ffff00","#1eff00"],"seg1":"","seg2":"","className":"","x":590,"y":200,"wires":[]},{"id":"58cd873.4a6a678","type":"ui_gauge","z":"a7f1840.ae02a8","name":"Team 1 ","group":"d8d421a5.a92a7","order":1,"width":0,"height":0,"gtype":"gage","title":"Point","label":"Points","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":560,"y":120,"wires":[]},{"id":"9c02edf8.f7e27","type":"ui_button","z":"432a6f4d.9a1f9","name":"","group":"e4493207.31559","order":2,"width":0,"height":0,"passthru":false,"label":"Start TImer","tooltip":"","color":"black","bgcolor":"chartreuse","className":"","icon":"","payload":"Timeout","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":200,"wires":[["c37b953a.94c728"]]},{"id":"720f84e2.6385ec","type":"ui_gauge","z":"a7f1840.ae02a8","name":"Team 2","group":"899aa1bc.49459","order":1,"width":0,"height":0,"gtype":"gage","title":"Point","label":"Points","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":560,"y":160,"wires":[]},{"id":"66b290ad.bbef1","type":"ui_audio","z":"432a6f4d.9a1f9","name":"","group":"e4493207.31559","voice":"Microsoft David - English (United States)","always":true,"x":600,"y":240,"wires":[]},{"id":"b9bfbec8.3e25f","type":"ui_button","z":"a7f1840.ae02a8","name":"reset score","group":"e4493207.31559","order":3,"width":0,"height":0,"passthru":false,"label":"reset score","tooltip":"","color":"black","bgcolor":"deepskyblue","className":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":150,"y":360,"wires":[["7647ceeb.0e0f","a0d06995.072e18","401d301e.cb154"]]},{"id":"fec92a0e.600b48","type":"function","z":"a7f1840.ae02a8","name":"","func":"var A = flow.get(\"A\") || 0\nvar B = flow.get(\"B\") || 0\nvar C = flow.get(\"C\") || 0\nvar t1,t2,t3;\nif(msg.payload==1){\n    A+=10;\n    flow.set(\"A\", A);\n    msg.payload = A;\n    return [msg, null, null];\n} \nif(msg.payload==2){\n    B+=10;\n    flow.set(\"B\", B);\n    msg.payload = B;\n    return [null, msg, null];\n} \nif(msg.payload==3){\n    C+=10;\n    flow.set(\"C\", C);\n    msg.payload = C;\n    return [null,null,msg];\n} ","outputs":3,"noerr":0,"initialize":"","finalize":"","x":260,"y":120,"wires":[["70895c77.fef7f4","58cd873.4a6a678"],["70895c77.fef7f4","720f84e2.6385ec"],["70895c77.fef7f4","e5d8d083.79c7e"]]},{"id":"e5d8d083.79c7e","type":"ui_gauge","z":"a7f1840.ae02a8","name":"Team 3","group":"e4493207.31559","order":1,"width":0,"height":0,"gtype":"gage","title":"Point","label":"Points","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":560,"y":200,"wires":[]},{"id":"70895c77.fef7f4","type":"debug","z":"a7f1840.ae02a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":60,"wires":[]},{"id":"5d3eb1d2.5eb27","type":"string","z":"a7f1840.ae02a8","name":"","methods":[{"name":"toInteger","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":230,"y":220,"wires":[["fec92a0e.600b48"]]},{"id":"c52ed721.b63da8","type":"inject","z":"a7f1840.ae02a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":160,"wires":[["fec92a0e.600b48"]]},{"id":"7647ceeb.0e0f","type":"change","z":"a7f1840.ae02a8","name":"","rules":[{"t":"set","p":"A","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":320,"wires":[["fec92a0e.600b48"]]},{"id":"2939112f.4a610e","type":"inject","z":"a7f1840.ae02a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":420,"wires":[[]]},{"id":"a0d06995.072e18","type":"change","z":"a7f1840.ae02a8","name":"","rules":[{"t":"set","p":"B","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":360,"wires":[["fec92a0e.600b48"]]},{"id":"401d301e.cb154","type":"change","z":"a7f1840.ae02a8","name":"","rules":[{"t":"set","p":"C","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":400,"wires":[["fec92a0e.600b48"]]},{"id":"3fb82745.a4e9f8","type":"ui_button","z":"a7f1840.ae02a8","name":"reset ui","group":"e4493207.31559","order":3,"width":0,"height":0,"passthru":false,"label":"reset ui","tooltip":"","color":"black","bgcolor":"cyan","className":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":380,"y":220,"wires":[["58cd873.4a6a678","720f84e2.6385ec","e5d8d083.79c7e"]]}]