countdown laser tag.json
[{"id":"432a6f4d.9a1f9","type":"tab","label":"Countdown","disabled":false,"info":""},{"id":"c37b953a.94c728","type":"function","z":"432a6f4d.9a1f9","name":"","func":"for(let i=30;i>=0;i--){\n    node.send({payload:i});\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":200,"wires":[["c92c3a26.fac518"]]},{"id":"c92c3a26.fac518","type":"delay","z":"432a6f4d.9a1f9","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":200,"wires":[["20a28fcb.930db","66b290ad.bbef1"]]},{"id":"20a28fcb.930db","type":"ui_gauge","z":"432a6f4d.9a1f9","name":"","group":"899aa1bc.49459","order":2,"width":0,"height":0,"gtype":"donut","title":"Timer","label":" s","format":"{{value}}","min":0,"max":"30","colors":["#ff000d","#ffff00","#1eff00"],"seg1":"","seg2":"","className":"","x":590,"y":200,"wires":[]},{"id":"9c02edf8.f7e27","type":"ui_button","z":"432a6f4d.9a1f9","name":"","group":"e4493207.31559","order":2,"width":0,"height":0,"passthru":false,"label":"Start TImer","tooltip":"","color":"black","bgcolor":"chartreuse","className":"","icon":"","payload":"Timeout","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":200,"wires":[["c37b953a.94c728"]]},{"id":"66b290ad.bbef1","type":"ui_audio","z":"432a6f4d.9a1f9","name":"","group":"e4493207.31559","voice":"Microsoft Mark - English (United States)","always":"","x":600,"y":240,"wires":[]},{"id":"899aa1bc.49459","type":"ui_group","name":"Team 2","tab":"3a57a146.078d7e","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e4493207.31559","type":"ui_group","name":"Team 3","tab":"3a57a146.078d7e","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3a57a146.078d7e","type":"ui_tab","name":"Scoreboard","icon":"dashboard","disabled":false,"hidden":false}]